@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");



.sidebar {
  font-family: "Nunito Sans", sans-serif !important;
  /* display: flex;
  flex-direction: column; */
}

.sidebar-box {

  font-family: "Nunito Sans", sans-serif !important;
  border-radius: 20px;
  padding: 15px;
  margin: 40px;

}
@media (max-width: 900px) {
.content-box {
  margin: 40px!important;

}
}
/* .HeaderResposive-Doc{
  font-size: 20px!important;
  } */
  @media (max-width: 900px) {
    .HeaderResposive-Doc{
      font-size: 30px!important;
      }
    }
@media (min-width: 900px) {
  .content-box {

  font-family: "Nunito Sans", sans-serif !important;
  }
}.main-container {
  background-color: #F1F4F5;
  font-family: "Nunito Sans", sans-serif !important;

}
.responsive-sidebox{
  border-radius: 20px !important;
  padding: 20px!important;
  background-color: white!important;
  margin: 40px!important;
  margin-bottom: 0px!important;
}
/* .content-box{
  position: relative;
  right: 30px;
} */
/* @media (max-width: 940px) {
  .main-container {
 display: flex;
 flex-direction: column!important;
  
  }
} */
.content-box {
  background-color: white;
  font-family: "Nunito Sans", sans-serif !important;
  border-radius: 20px;
  padding: 45px;
  margin: 40px;
  margin-left: 0px;
}



.list-item {
  padding-left: 16px;
  font-weight: 700!important;
  font-size: 22px;
  background-color: white!important;
}

.list-item.selected {
  font-size: 22px;
  color: #6E00DC!important;
  font-weight: 600;
  background-color: white!important;
}

