
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.hero-section {
    background-image: url('../assets/HomeHerobg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;

  }
  
  .hero-content {
    max-width: 1300px;
  }
  
  .hero-heading {
    font-size: 60px !important;
    font-weight: 700 !important;
    line-height: 72px;
    text-align: center;
    text-transform: none !important;
     margin-top: 13% !important;
     font-family: "Nunito Sans", sans-serif !important;

  }
  
  .hero-subheading {
    color: #555555ce;
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 28px;
    text-align: center;
    text-transform: none !important;
    font-family: "Nunito Sans", sans-serif !important;


  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  
  .hero-button {
    width: 200px !important;
    height: 59px !important;
    background-color: #6E00DC !important;
    border-radius: 46px !important;
    color: white !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
  }
  
  .hero-button-contact {
    width: 200px !important;
    height: 59px !important;
    background-color: transparent !important;
    border-radius: 46px !important;
    color: #6E00DC !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    margin-left: 10px !important;
    border: 1px solid #6E00DC !important;
  }
  
